.App {
  background: #f9f9f9;
}

.App-Wrapper {
  max-width: 375px;
  margin: 0 auto;
  background: #fff;
  min-height: 700px;
}

.jobs-count {
  border-bottom: 1px solid lightgray;
  margin: 1em;
  padding-bottom: 1em;
  font-weight: 600;
}

.job-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid lightgray;
}

.job-title {
  grid-column: 1 / 3;
  grid-row: 1;
  font-weight: 600;
  margin-bottom: 1em;
  margin-right: 2em;
}

.salary-range {
  grid-column: 3;
  grid-row: 1;
  text-align: left;
  font-weight: 600;
}

.job-details {
  grid-column: 1 / 4;
  grid-row: 2;
  display: grid;
  margin-bottom: 1em;
  grid-template-areas:
    'location experience'
    'degree type';
  font-size: 0.9em;
}

.job-icon {
  color: #3683eb;
  width: 1em;
  height: 1em;
  margin: 0 5px;
}

.job-location {
  grid-area: location;
}

.job-experience {
  grid-area: experience;
  margin-bottom: 0.5em;
}

.degree {
  grid-area: degree;
}

.job-type {
  grid-area: type;
  margin-bottom: 0.5em;
}

.company-details {
  grid-column: 1 / 3;
  grid-row: 4;
  display: flex;
  align-items: center;
}

.company-details img {
  float: left;
  margin-right: 1em;
}

.company-details p {
  overflow: hidden;
  margin: 0;
  font-size: 0.9em;
}

.job-creation-date {
  color: grey;
  font-size: 0.8em;
  grid-column: 3;
  grid-row: 4;
  text-align: right;
  margin: auto;
}

.search-container {
  background: #f9f9f9;
  padding: 2em;
  box-shadow: 0 6px 6px #f5f5f5;
}

.search-container input {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 2em;
  border-bottom: 1px solid gray;
  outline: none;
  font-size: 1em;
  color: #3b88ec;
  text-align: center;
}
